@use '../abstracts/index' as *;

.attribution {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: sans-serif;
    & a {

        color: $clr-primary-neon-green;
    }
}